<div class="card flex justify-content-center">
    <p-sidebar appendTo="body" [(visible)]="display" styleClass="w-14rem h-full position fixed z-1"
        [showCloseIcon]="false" [closeOnEscape]="false" [modal]="false" position="right"
        [style]="{top:'9%'}">
        <ng-template pTemplate="headless">
                    <div pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                        leaveToClass="hidden" leaveActiveClass="slideup"
                        class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
                        <span class="font-medium">PROPERTIES</span>
                    </div>
                <div>
                    <label>font size: </label>
                    <input [(ngModel)]="fontSize" (change)="setStyle()">
                </div>

                <div>
                    <label>border size: </label>
                    <input [(ngModel)]="borderSize" (change)="setStyle()">
                </div>


                <div>
                    <label>border color: </label>
                    <input [(ngModel)]="borderColor" (change)="setStyle()">
                </div>


                <div>
                    <label>border style: </label>
                    <input [(ngModel)]="borderStyle" (change)="setStyle()">
                </div>


                <div>
                    <label>font color: </label>
                    <input [(ngModel)]="fontColor" (change)="setStyle()">
                </div>


                <div>
                    <label>background color: </label>
                    <input [(ngModel)]="backgroundColor" (change)="setStyle()">
                </div>


                <div>
                    <label>Label: </label>
                    <input [(ngModel)]="label" (change)="setStyle()">

                </div>

                <div>
                    <label>Width: </label>
                    <input [(ngModel)]="width" (change)="setStyle()">

                </div>

                <div>
                    <label>Height: </label>
                    <input [(ngModel)]="height" (change)="setStyle()">
                </div>

                <div>
                    <p-button type="text" (click)="display = false" label="Hide"></p-button>
                </div>
        </ng-template>
    </p-sidebar>
</div>