.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(116, 138, 139);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.p-avatar {
  position: fixed!important;
  top: 0%!important;
  left: 1%!important;
}

::ng-deep .p-avatar-image {
  color: white !important;
}

.button {
  position: fixed;
  top:2%; 
  right:1% ;
}