<p-toolbar styleClass="bg-gray-900 shadow-2 w-full border-noround h-5rem">
    <div class="p-toolbar-group-start">
        <p-avatar [routerLink]="['profile']" image="user.png" label="{{UserDisplayName}}" size="large" shape="circle"
            styleClass="avatar cursor-pointer">
        </p-avatar>
    </div>
    <div class="p-toolbar-group-center">
        <div class="flex flex-wrap align-items-center gap-3">
            <button
                class="p-link inline-flex justify-content-center align-items-center text-white h-2rem w-6rem  hover:bg-white-alpha-10 transition-all transition-duration-200"
                [routerLink]="['home']"><i class="pi pi-home text-2xl"></i></button>
            <button
                class="p-link inline-flex justify-content-center align-items-center text-white h-2rem w-6rem  hover:bg-white-alpha-10 transition-all transition-duration-200"
                [routerLink]="['new-project']"><i class="pi pi-plus text-2xl"></i></button>
            <button
                class="p-link inline-flex justify-content-center align-items-center text-white h-2rem w-6rem  hover:bg-white-alpha-10 transition-all transition-duration-200"
                [routerLink]="['new-project']"><i class="pi pi-check text-2xl"></i></button>
        </div>
    </div>
    <div class="p-toolbar-group-end">
        <div class="p-toolbar-group-start">

        </div>
        <div class="flex align-items-center gap-2">
            <button [routerLink]="['auth']"
            class="p-link inline-flex justify-content-center align-items-center text-white h-2rem w-6rem  hover:bg-white-alpha-10 transition-all transition-duration-200"
            (click)="logout()"><i class="pi pi-sign-out text-2xl"></i></button>
        </div>
    </div>
</p-toolbar>