<div>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="sidebar front">
      <app-sidebar></app-sidebar>
    </div>
    <div class="frame-container">
      <div #frame class="content resizable movable" [ngStyle]="{'background-color': frameColor}">
        <router-outlet></router-outlet>
      </div>
      <button class="lock-button" (click)="toggleLock()">
        <i [ngClass]="{
          'fa fa-solid fa-lock': isLocked === true
        }"  aria-hidden="true"></i>
        <i [ngClass]="{
          'fa fa-solid fa-unlock': isLocked === false
        }"  aria-hidden="true"></i>
      </button>
      <input type="color" [(ngModel)]="frameColor" class="color-picker">
    </div>
  </div>
</div>