
.container {
    display: flex;
  }
  
  .sidebar {
    /* Adjust width as needed */
    width: 10%;
  }
  
  .content {
    /* Adjust width as needed */
    width: 90%;
    border: 1px solid black;
    min-height: 500px; /* This gives the div a default height */
    background-color: white;
  }
  .resizable {
    resize: both;
    overflow: auto;
    width: 60%;
    height: 60%;
  }

  .front {
    position: absolute;
      z-index: 10000;
  }

  .movable {
    position: relative;
    cursor: move;
    z-index: 100;
    top: 20%;
    left: 20%;
  }
  
  .frame-container {
    position: relative; 
    width: 80%;

  }
  
  .lock-button {
    position: relative;
    top: 30%;
    right: 0%;
    bottom: 10px;
    left: 93%;
    width: 10%;
    min-height: 30px;
  }

  .color-picker {
    position: relative;
    top: 30%;
    right: 0%;
    bottom: 10px;
    left: 93%;
  }